@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
}

section#login > div#imagem {
    display: block;
    height: 200px;
    background: #5f2c82 url('../imagens/metal.jpg') left bottom no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

div#formulario {
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    padding: 10px;
    font-size: 0.8em;
}

div.campo {
    margin: auto;
    width: 95%;
    height: 40px;
    background-color: #5f2c82;
    border-radius: 10px;
    margin-bottom: 5px;

}

div.campo > input {
    width: 79%;
    height: 80%;
    background-color: #94cfcd;
    border-radius: 10px;
    font-size: 1em;

}

div.campo > input:active {
    background-color: white;
}

div.campo > span { /* Material Icons Google */
    font-size: 2em;
    color: white;
}

form > input {
    display: block;
    font-size: 1em;
    margin: auto;
    width: 95%;
    height: 40px;
    background-color: #53aaa7;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    margin-bottom: 5px;
    
}

form > input:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    margin: auto;
    width: 95%;
    height: 40px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.9em;
}